/* components/index/hotmv/hotmv.wxss */
.mvTitle {
  font-size: 34rpx;
  width: 100%;
  box-sizing: border-box;
  padding: 30rpx 0;
  color: #f6ce55;
  text-align: center;
}

.mvlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mvlist .mv-item {
  width: 45%;
}

.mvlist .mv-item .mv-img {
  width: 100%;
}

.mvlist .mv-item .mv-name {
  font-size: 30rpx;
  color: #909090;
  margin: 15rpx 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mvlist .mv-item .mv-author {
  color: #fff;
  font-size: 30rpx;
}
