/* components/index/hotlist/hotlist.wxss */
.hot-title {
  width: 100%;
  font-size: 34rpx;
  width: 100%;
  box-sizing: border-box;
  padding: 30rpx 0;
  color: #f6ce55;
  text-align: center;
}

.hot-list {
  display: flex;
  flex-direction: column;
}

.hot-list .hot-list-item {
  width: 100%;
  padding: 0 10rpx;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.hot-list .hot-list-item .list-left {
  width: 40%;
}

.hot-list .hot-list-item .list-left .list-img {
  width: 100%;
}

.hot-list .hot-list-item .list-right {
  position: absolute;
  width: 65%;
  top: 0;
  right: 0;
  color: #868686;
  background-color: #333333;
  box-sizing: border-box;
  padding: 30rpx;
  font-size: 28rpx;
}

.hot-list .hot-list-item .list-right .right-item {
  margin: 20rpx 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
